Django==5.2.4
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==25.1
dj-database-url==3.0.1
psycopg[binary]==3.2.9
celery==5.5.3
redis==6.2.0
gunicorn==23.0.0
Pillow==11.3.0
qrcode[pil]==8.2
pywebpush==2.0.3
sentry-sdk==2.33.0
